body {
        min-height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.692) 0%, rgba(251, 255, 0, 0.836) 100%);
}
.fig {
    text-align: center: ;
    color: #00 ;
    }
    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }