body {
        min-height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        background: rgba(172,223,203);
        background: linear-gradient(0deg, rgba(172,223,203,1) 0%, rgba(224, 220, 16, 0.815) 100%);
}
.fig {
    text-align: center: ;
    color: #00 ;
    }
    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }