body {
        min-height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        background: rgb(61,109,25);
        background: linear-gradient(0deg, rgba(61,109,25,1) 0%, rgba(192,192,192,1) 100%);
}
.fig {
    text-align: center: ;
    color: #00 ;
    }
    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }